* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "FiraCode Nerd Font Mono Med";
  font-size: 16px;
}

window.eDP-1 * {
  font-size: 17px;
}

window.HDMI-A-1 * {
  font-size: 14px;
}

window.DP-1 * {
  font-size: 16px;
}


window#waybar {
  background-color: rgba(26, 27, 38, 0);
  color: #c0caf5;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-top: 8px transparent;
  border-radius: 8px;
  transition-duration: 0.5s;
  margin: 16px 16px;
}

window#waybar.hidden {
  opacity: 0;
}
#workspaces {
    margin: 0px 7px 0px 0px;
    /* min-width: 210px; */
}

#workspaces button {
    padding: 0px 6px;
    margin: 3px 3px;
    border-radius: 8px;
    color: @on_surface;
    background-color: @background;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
}

#workspaces button.active {
    color: @on_primary;
    background: @primary;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    border-color: #33ccff;
    min-width: 30px;
}

#workspaces button:hover {
    color: @on_surface;
    background: @primary_container;
    border-radius: 15px;
    border-color: @primary;
    box-shadow: none;
}

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  color: #c0caf5;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-upower-bluetooth
#custom-cpu_temp,
#custom-gpu_temp,
#custom-vram_usage,
#custom-clipboard,
#custom-hyprPicker,
#custom-power-menu,
#custom-spotify,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  padding: 2px 10px 2px;
  color: #e5e5e5;
  /* color: #bf616a; */
  border-radius: 16px;
  background-color: rgba(36, 40, 59, 0.8);
}

#window,
#workspaces {
  margin: 0 4px;
  border-radius: 16px;
  background-color: rgba(36, 40, 59, 0.8);
}

#cpu {
  color: #9ece6a;
  background-color: rgba(36, 40, 59, 0.8);
}

#memory {
  color: #7dcfff;
  background-color: rgba(36, 40, 59, 0.8);
}

#custom-power-menu {
  border-radius: 16px;
  background-color: rgba(36, 40, 59, 0.8);
  border-radius: 16px;
  padding: 0 5px;
  font-size: 20px;
}

#custom-launcher {
  background-color: rgba(36, 40, 59, 0.8);
  color: #6a92d7;
  border-radius: 16px;
  padding: 0 3px;
  font-size: 20px;
}

#custom-upower-bluetooth {
  background-color: rgba(36, 40, 59, 0.8);
  color: #6a92d7;
  border-radius: 16px;
  background-color: rgba(36, 40, 59, 0.8);
  border-radius: 16px;
  padding: 0 5px;
}


#custom-cpu_temp {
  background-color: rgba(36, 40, 59, 0.8);
  color: #9ece6a;
  border-radius: 16px;
  background-color: rgba(36, 40, 59, 0.8);
  border-radius: 16px;
  padding: 0 5px;
}

#custom-gpu_temp {
  background-color: rgba(36, 40, 59, 0.8);
  color: #bf616a;
  border-radius: 16px;
  background-color: rgba(36, 40, 59, 0.8);
  border-radius: 16px;
  padding: 0 5px;
}

#custom-vram_usage {
  background-color: rgba(36, 40, 59, 0.8);
  color: #7dcfff;
  border-radius: 16px;
  background-color: rgba(36, 40, 59, 0.8);
  border-radius: 16px;
  padding: 0 5px;
}

#custom-clipboard {
  background-color: rgba(36, 40, 59, 0.8);
  color: #7dcfff;
  border-radius: 16px;
  background-color: rgba(36, 40, 59, 0.8);
  border-radius: 16px;
  padding: 0 5px;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio {
  color: #f53c3c;
}

#backlight {
  /* color: #EBCB8B; */
  color: #8fbcbb;
}

#clock {
  color: #b48ead;
  /* background-color: #14141e; */
}

#battery {
  color: #c0caf5;
  /* background-color: #90b1b1; */
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    background-color: rgba(36, 40, 59, 0.8);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964b00;
}

#bluetooth {
  color: #707d9d;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network {
  color: #e0af68;
}

#network.disconnected {
  color: #e0af68;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#custom-upower-bluetooth {
  color: #f53c3c;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  color: #2a5c45;
}

#mpd.disconnected {
  color: #f53c3c;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#custom-spotify {
  padding: 0 10px;
  margin: 0 4px;
  /* background-color: #1db954; */
  color: #c0caf5;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
